In [3]:
a = input("Enter first value: ")
b = input("Enter second value: ")

print("\nBefore swapping:")
print("a =", a)
print("b =", b)

# method 1: using temporary variable
temp = a
a = b
b = temp

print("\nAfter swapping (using temporary variable):")
print("a =", a)
print("b =", b)

Before swapping:
a = 22
b = 33

After swapping (using temporary variable):
a = 33
b = 22

In [5]:
# Take input from the user
num1 = input("Enter the first number: ")
num2 = input("Enter the second number: ")
operator = input("Enter an operator (+, -, *, /): ")

# Create the expression as a string
expression = num1 + operator + num2

# Evaluate the expression and print the result
result = eval(expression)
print("Result:", result)

Result: -11

In [6]:
# Program: String to int and float conversion

num_str = input("Enter a number as a string: ")

# Convert to integer
num_int = int(num_str)

# Convert to float
num_float = float(num_str)

# Print values and their types
print("Integer value:", num_int, "Type:", type(num_int))
print("Float value:", num_float, "Type:", type(num_float))

Integer value: 33 Type: <class 'int'>
Float value: 33.0 Type: <class 'float'>

In [9]:
# Quadratic equation: ax^2 + bx + c = 0
a = float(input("Enter a: "))
b = float(input("Enter b: "))
c = float(input("Enter c: "))

# Quadratic formula: (-b Â± sqrt(b^2 - 4ac)) / (2a)
d = b**2 - 4*a*c  # discriminant

root1 = (-b + complex(d, 0)**0.5) / (2*a)
root2 = (-b - complex(d, 0)**0.5) / (2*a)

print("Root 1 =", root1)
print("Root 2 =", root2)

Root 1 = (-0.9999999999999999+1.7320508075688772j)
Root 2 = (-1-1.7320508075688772j)

In [10]:
# Take input
name = input("Enter your name: ")
age = int(input("Enter your age: "))
height = float(input("Enter your height in cm: "))

# Print formatted string using f-string
print(f"Name: {name}, Age: {age} years, Height: {height} cm")

Name: yaswanth, Age: 22 years, Height: 5.4 cm

In [11]:
# Take input from user
num1 = float(input("Enter first number: "))
num2 = float(input("Enter second number: "))
num3 = float(input("Enter third number: "))

# Expression: ((num1 + num2) * num3) / (num1 - num2)
result = ((num1 + num2) * num3) / (num1 - num2)

# Print result rounded to 2 decimal places
print("Result:", round(result, 2))

Result: -220.0

In [12]:
# Take input from user
num1 = float(input("Enter first number: "))
num2 = float(input("Enter second number: "))

# Calculate sum
sum_result = num1 + num2

# Print the sum
print("Sum =", sum_result)

Sum = 15.0

In [14]:
# Take input from the user
text = input("Enter a string: ")

# Convert to uppercase
print(text.upper())

HELLO

In [15]:
num = int(input("Enter a number: "))
square = num ** 2   # or square = num * num
print("Square of the number is:", square)

Square of the number is: 4

In [16]:
# Input two strings
str1 = input("Enter first string: ")
str2 = input("Enter second string: ")

# Concatenate and print
print("Concatenated string:", str1 + str2)

Concatenated string: hellohow

In [17]:
# Input a float number
num = float(input("Enter a float number: "))

# Convert to integer
print("Integer equivalent:", int(num))

Integer equivalent: 22

In [18]:
# Input age
age = int(input("Enter your age: "))

# Print with f-string
print(f"You are {age} years old")

You are 22 years old

In [19]:
# Input two numbers
num1 = float(input("Enter first number: "))
num2 = float(input("Enter second number: "))

# Calculate product
print("Product:", num1 * num2)

Product: 150.0

In [20]:
# Input a sentence
sentence = input("Enter a sentence: ")

# Print the length of the sentence
print("Length of the sentence:", len(sentence))

Length of the sentence: 15

In [21]:
# Input three numbers
num1 = float(input("Enter first number: "))
num2 = float(input("Enter second number: "))
num3 = float(input("Enter third number: "))

# Calculate average
average = (num1 + num2 + num3) / 3

# Print the average
print("Average:", average)

Average: 77.0

In [22]:
# Input a number
num = float(input("Enter a number: "))

# Print absolute value
print("Absolute value:", abs(num))

Absolute value: 22.0

In [24]:
# Input two numbers
num1 = float(input("Enter first number: "))
num2 = float(input("Enter second number: "))

# Calculate difference
difference = num1 - num2

# Print the difference
print("Difference:")

Difference:

In [25]:
# Input a string
text = input("Enter a string: ")

# Print reversed string
print("Reversed string:", text[::-1])

Reversed string: wow

In [26]:
# Input height in centimeters
height_cm = float(input("Enter height in centimeters: "))

# Convert to meters
height_m = height_cm / 100

# Print the height in meters
print("Height in meters:", height_m)

Height in meters: 0.055

In [27]:
# Input two numbers
num1 = float(input("Enter first number: "))
num2 = float(input("Enter second number: "))

# Calculate quotient
quotient = num1 / num2

# Print the quotient
print("Quotient:", quotient)

Quotient: 0.6

In [28]:
# Input a name
name = input("Enter your name: ")

# Print the name surrounded by double quotes using f-string
print(f'"{name}"')

"sreenadh"

In [29]:
# Input a number
num = float(input("Enter a number: "))

# Round to 2 decimal places
rounded_num = round(num, 2)

# Print the result
print("Rounded number:", rounded_num)

Rounded number: 7.0

In [30]:
# Input two strings
str1 = input("Enter first string: ")
str2 = input("Enter second string: ")

# Print them separated by a space using f-string
print(f"{str1} {str2}")

hiii hello

In [31]:
# Take input from user
value = input("Enter something: ")

# Print the type of the input
print("Type of the input:", type(value))

Type of the input: <class 'str'>

In [32]:
# Input three numbers
num1 = float(input("Enter first number: "))
num2 = float(input("Enter second number: "))
num3 = float(input("Enter third number: "))

# Calculate sum and product
total_sum = num1 + num2 + num3
product = num1 * num2 * num3

# Print results
print("Sum:", total_sum)
print("Product:", product)

Sum: 99.0
Product: 31944.0