In [3]:
movies =['pushpa', 'kannapa', 'jinna', 'journey', 'little hearts', 'court', 'luckybasker', 'thamadu', 'santhosam', 'kalisundam raa',
        'nuvu naku nachav', 'baby', '7G bhrundavn colony', 'remo', 'orange', 'Rx 100', 'arjun reddy', 'mangalavaram']
movielen = [ ]
for movie in movies:
    size = len(movie)
    movielen.append(size)
print(movies)
print(movielen)

['pushpa', 'kannapa', 'jinna', 'journey', 'little hearts', 'court', 'luckybasker', 'thamadu', 'santhosam', 'kalisundam raa', 'nuvu naku nachav', 'baby', '7G bhrundavn colony', 'remo', 'orange', 'Rx 100', 'arjun reddy', 'mangalavaram']
[6, 7, 5, 7, 13, 5, 11, 7, 9, 14, 16, 4, 19, 4, 6, 6, 11, 12]

In [4]:
movielen = [len(movie) for movie in movies]
print(movies)
print(movielen)

['pushpa', 'kannapa', 'jinna', 'journey', 'little hearts', 'court', 'luckybasker', 'thamadu', 'santhosam', 'kalisundam raa', 'nuvu naku nachav', 'baby', '7G bhrundavn colony', 'remo', 'orange', 'Rx 100', 'arjun reddy', 'mangalavaram']
[6, 7, 5, 7, 13, 5, 11, 7, 9, 14, 16, 4, 19, 4, 6, 6, 11, 12]

In [1]:
movies =['pushpa', 'kannapa', 'jinna', 'journey', 'little hearts', 'court', 'luckybasker', 'thamadu', 'santhosam', 'kalisundam raa',
        'nuvu naku nachav', 'baby', '7G bhrundavn colony', 'remo', 'orange', 'Rx 100', 'arjun reddy', 'mangalavaram'
         ]
movies

['pushpa',
 'kannapa',
 'jinna',
 'journey',
 'little hearts',
 'court',
 'luckybasker',
 'thamadu',
 'santhosam',
 'kalisundam raa',
 'nuvu naku nachav',
 'baby',
 '7G bhrundavn colony',
 'remo',
 'orange',
 'Rx 100',
 'arjun reddy',
 'mangalavaram']

In [2]:
movies_caps = [ ]
for movie in movies:
    name = movie.upper()
    movies_caps.append(name)
print(movies)
print(movies_caps)

['pushpa', 'kannapa', 'jinna', 'journey', 'little hearts', 'court', 'luckybasker', 'thamadu', 'santhosam', 'kalisundam raa', 'nuvu naku nachav', 'baby', '7G bhrundavn colony', 'remo', 'orange', 'Rx 100', 'arjun reddy', 'mangalavaram']
['PUSHPA', 'KANNAPA', 'JINNA', 'JOURNEY', 'LITTLE HEARTS', 'COURT', 'LUCKYBASKER', 'THAMADU', 'SANTHOSAM', 'KALISUNDAM RAA', 'NUVU NAKU NACHAV', 'BABY', '7G BHRUNDAVN COLONY', 'REMO', 'ORANGE', 'RX 100', 'ARJUN REDDY', 'MANGALAVARAM']

In [3]:
movies_caps = [movie.upper() for movie in movies]
print(movies)
print(movies_caps)

['pushpa', 'kannapa', 'jinna', 'journey', 'little hearts', 'court', 'luckybasker', 'thamadu', 'santhosam', 'kalisundam raa', 'nuvu naku nachav', 'baby', '7G bhrundavn colony', 'remo', 'orange', 'Rx 100', 'arjun reddy', 'mangalavaram']
['PUSHPA', 'KANNAPA', 'JINNA', 'JOURNEY', 'LITTLE HEARTS', 'COURT', 'LUCKYBASKER', 'THAMADU', 'SANTHOSAM', 'KALISUNDAM RAA', 'NUVU NAKU NACHAV', 'BABY', '7G BHRUNDAVN COLONY', 'REMO', 'ORANGE', 'RX 100', 'ARJUN REDDY', 'MANGALAVARAM']

In [4]:
movies_with_o = [ ]
for item in movies:
    if 'o' in item or  'o' in item:
        movies_with_o.append(item)
print(movies)
print(movies_with_o)

['pushpa', 'kannapa', 'jinna', 'journey', 'little hearts', 'court', 'luckybasker', 'thamadu', 'santhosam', 'kalisundam raa', 'nuvu naku nachav', 'baby', '7G bhrundavn colony', 'remo', 'orange', 'Rx 100', 'arjun reddy', 'mangalavaram']
['journey', 'court', 'santhosam', '7G bhrundavn colony', 'remo', 'orange']

In [6]:
movies_with_e = [nm for nm in movies if 'o' in nm or 'o' in nm]