In [1]:
x=[]    #empty
x=()    #empty
y=[1,2,3]    #direct instilization
z=[]
z.append("apple")  #adding a single value
z.append("cherry")
z.append("avacado")
print(z)

['apple', 'cherry', 'avacado']

In [3]:
x = [1, 2, 3]
y = [4, 5, 6]
z = x+y
print(x, y, z)

[1, 2, 3] [4, 5, 6] [1, 2, 3, 4, 5, 6]

In [4]:
a =[1]*10 # cloning
print(a)
b = [1, 2]*5
c = a*2
print(b)
print(c)

[1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
[1, 2, 1, 2, 1, 2, 1, 2, 1, 2]
[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]

In [6]:
print(a)
for item in a:
    print(item)
    print(a[0])
    print(a[3], a[5])

[1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
1
1
1 1
1
1
1 1
1
1
1 1
1
1
1 1
1
1
1 1
1
1
1 1
1
1
1 1
1
1
1 1
1
1
1 1
1
1
1 1

In [ ]:
students = ["anjali", "sameer", "srikanth", "yaswanth", "vamsi", "ram", "sumithra", "lahari", "jyoshna", "ajay", "balji", 
            "abhi", "meghana", "srisha", "geetha", "bhargav"]

In [ ]:
books = []
# adding one item at a time
books.append("The Way Of King")
print(books)
books.append("The Final Eire")
books.append("Steelheart")
books.append("Legion")
print(books)

['The Way Of King']
['The Way Of King', 'The Final Empire', 'Steelheart', 'Legion']

In [2]:

colors = ['red', 'green', 'blue']
colors.extend(['yellow','black'])
print(colors)

['red', 'green', 'blue', 'yellow', 'black']

In [3]:
colors = ['red', 'green', 'blue']
colors.extend(['yellow','black'])
print(colors)
colors2 =["purple", "pink", "yellow"]
colors.extend(colors2)
print(colors)

['red', 'green', 'blue', 'yellow', 'black']
['red', 'green', 'blue', 'yellow', 'black', 'purple', 'pink', 'yellow']

In [6]:
a =[]
for i in range(1, 11):
    a.append(i)
print(a)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [12]:
x = [1,5,10]
x.insert(1,6)
print(x)

[1, 6, 5, 10]

In [13]:
x = [1,5,10]
x.insert(1,6)
print(x)
x.insert(2, 3)
x.insert(4, 9)
print(x)

[1, 6, 5, 10]
[1, 6, 3, 5, 9, 10]

In [1]:
books = ['hero of ages','well of acsension','warbreaker','nightblood','the fina empire',
         'the way of kinds','oathbringer','wind of truth', 'harry potter']
print('how many books in the list:',len(books))
books.remove("hero of ages")
print(books)

how many books in the list: 9
['well of acsension', 'warbreaker', 'nightblood', 'the fina empire', 'the way of kinds', 'oathbringer', 'wind of truth', 'harry potter']

In [2]:
if "oathbringer" in books:
    books.remove("oathbringer")
    print(books)

['well of acsension', 'warbreaker', 'nightblood', 'the fina empire', 'the way of kinds', 'wind of truth', 'harry potter']

In [3]:
print(books)
print(len(books))

['well of acsension', 'warbreaker', 'nightblood', 'the fina empire', 'the way of kinds', 'wind of truth', 'harry potter']
7

In [2]:
languages = ['c','python','kotlin','java',
             'dart','go','c++','c#',
             'html','javascript','scala',
             'pust','mojo','assembly']

numbers = [12, 56, 67, 13, 23, 
           23, 12, 56, 23, 33,
           12, 22, 45, 66, 88, 
           32, 34, 45, 55, 66]
data = [1, "gova", 2 ,"apple", 3 ,"mango"]

print(languages)
print(numbers)
print(data)
print(len(languages))
print(len(numbers))
print(len(data))

['c', 'python', 'kotlin', 'java', 'dart', 'go', 'c++', 'c#', 'html', 'javascript', 'scala', 'pust', 'mojo', 'assembly']
[12, 56, 67, 13, 23, 23, 12, 56, 23, 33, 12, 22, 45, 66, 88, 32, 34, 45, 55, 66]
[1, 'gova', 2, 'apple', 3, 'mango']
14
20
6

In [3]:
print(numbers.count(33))
print(numbers.count(23))
print(numbers.count(0))

1
3
0

In [ ]:
x = [1, 2, 3, 4]
y = x
z =

In [16]:
matrix = [
    [12,34,56,7],
    [1,34,6,67],
    [12,4,56,6],
]

In [17]:
print(matrix[0])
print(matrix[1])
print(matrix[2])

[12, 34, 56, 7]
[1, 34, 6, 67]
[12, 4, 56, 6]

In [18]:
for row in matrix:
    for value in row:
        print(value, end=' ')
    print()

12 34 56 7
1 34 6 67
12 4 56 6

In [19]:
total = 0
for row in matrix:
    for value in row:
        total += value
print(total)

295

In [ ]:
total=0
for i in matrix:
    for prd

In [20]:
for row in matrix:
    total=0
    for value in row:
        total += value
        print(row, '=>', total)

[12, 34, 56, 7] => 12
[12, 34, 56, 7] => 46
[12, 34, 56, 7] => 102
[12, 34, 56, 7] => 109
[1, 34, 6, 67] => 1
[1, 34, 6, 67] => 35
[1, 34, 6, 67] => 41
[1, 34, 6, 67] => 108
[12, 4, 56, 6] => 12
[12, 4, 56, 6] => 16
[12, 4, 56, 6] => 72
[12, 4, 56, 6] => 78

In [25]:
for row in matrix:
    total=0
    for value in row:
        total +=value
    avg = round(total/len(row),1) 
       
    print(avg , '=>', total)

27.2 => 109
27.0 => 108
19.5 => 78

wap to print coloumn wise sum of matrix

In [ ]:
size = len (matrix[0])
for c in range(size):
    total=0
    for r in range(len(matrix)):
        total  += matrix[r][c]
print(f"coloumn {c}  => {total}")

coloumn 3  => 80

In [38]:
size = len (matrix[0])
for r in range(size):
    total=0
    for  r in range(len(matrix)):
        total  += matrix[r][c]
print(f"rows {c}  => {total}")

rows 3  => 80

In [2]:
x = [11, 12, 13, 15, 19]
x[0:3]
x[2:len(x)]

[13, 15, 19]

#syntax for slicing
var [start : stop : step] #

In [13]:
name = "william shakespeare"
name[8 :13]
name[-12:-1]

' shakespear'

In [18]:
name = "Muthyala Ramaih yaswanth kumar"
name[1 : : 3]

'uyaaiywtka'

In [13]:
name = "vijay deenanath chavhan"
name[ : 5]
name[6 : 15]
name[-7 :]
name[: : 2]

'vjydeaahcahn'

In [14]:
x = [1, 2, 3, 4, 5, 6, 9, 11, 13]
for item in x[: : -1]:
    print(item)

13
11
9
6
5
4
3
2
1

reverse a list in place

In [16]:

a = [1, 2, 3]
a[:] #get all element
a[:]=a[: : -1]

In [17]:
x = [1, 2, 3, 4, 5]
ans = x[2 :] + x[: 2]
print(x, ans)

[1, 2, 3, 4, 5] [3, 4, 5, 1, 2]

comperhension

In [19]:
x = [1, 3, 4, 5]
x2 =[ ]
for i in x:
    s = i*2
    x2.append(s)
    print(x, x2)

[1, 3, 4, 5] [2]
[1, 3, 4, 5] [2, 6]
[1, 3, 4, 5] [2, 6, 8]
[1, 3, 4, 5] [2, 6, 8, 10]

In [20]:
x = [4, 8, 12, 16]
x3 = []
for i in x:
    x3.append(i//2)
    print(x,x3)

[4, 8, 12, 16] [2]
[4, 8, 12, 16] [2, 4]
[4, 8, 12, 16] [2, 4, 6]
[4, 8, 12, 16] [2, 4, 6, 8]

In [24]:
x = [1, 2, 3]
y = [4, 5, 6]
xy = [5, 7, 9]
for i, j in zip(x, y):
    xy.append(i+j)
print(x, y, xy, sep =("\n"))

[1, 2, 3]
[4, 5, 6]
[5, 7, 9, 5, 7, 9]

In [ ]:
z = [2, 3, 4]
zsqr = [ ]
for i in z:
    zsqr.append(i**2)2

In [1]:
my_tuple = (1, 2, 3)
print(my_tuple)

(1, 2, 3)

In [2]:
my_tuple = (1, "hello", 3.4)
print(my_tuple)

(1, 'hello', 3.4)

In [3]:
my_tuple = ("mouse", [8, 4, 6], (1, 2, 3))
print(my_tuple)

('mouse', [8, 4, 6], (1, 2, 3))

In [4]:
my_tuple = 3, 4, 5, "apple"
print(my_tuple)

(3, 4, 5, 'apple')

In [5]:
my_tuple = ('p','e','r','m','i','t')

print(my_tuple[0])
print(my_tuple[5])

p
t

In [7]:
n_tuple = ("mouse", [8, 4, 6], (1, 2, 3,))
print(n_tuple[0][3])
print(n_tuple[1][1])

s
4

In [3]:
print((1, 2, 3) + (4, 5, 6))

(1, 2, 3, 4, 5, 6)

In [4]:
print(("peapat",) *3)

('peapat', 'peapat', 'peapat')

In [5]:

my_tuple = ('a', 'p', 'p', 'l', 'e')
print(my_tuple.count('p'))
print(my_tuple.index('l'))

2
3

string creation

In [4]:

a = 'apple'
b = "banana"
c = '''this is chocalate cake'''

typecaping

In [2]:

x=str(10)
y=str(["apple" ,"banana"])
print(x , type(x))
print(y , type(y))

10 <class 'str'>
['apple', 'banana'] <class 'str'>

slicing and indexing

In [6]:
print(a[0])
a[0]='c'
string are immutable

SyntaxError: invalid syntax (747850786.py, line 3)

In [10]:
x = 'disapointed'
y = x[5:10]
print(f"the{y}is , iam not {x}")

theointeis , iam not disapointed

In [14]:
poem= '''jony jony yes papa,
        eating sugur no papa,
        teling lies no papa,
        open your mouth ha ha ha,'''
y = poem[0:19]
print(f"{y}")

jony jony yes papa,