In [ ]:
nane = 'yaswanth'
city = 'tirupati'

input in python

input() function is used for taking user input

In [ ]:
name = input()

In [ ]:
pythagours()

In [ ]:
how()

In [ ]:
sum()

In [ ]:
name = input()

In [ ]:
name = input("enter name =>" )
city = input("enter city =>")
addhr = input("enter addhr =>")
print(name, city, addhr)

In [ ]:
a = 10
b = 20
c = a+b
print(a, b, c)

In [ ]:
a = 10
b = 20
c = 40
d = (a + b, b * c, a / b, b / c)
print (d)

In [ ]:
# dynamic input -> type casted
a = int (input("enter A:"))
b = int (input("enter B:"))
c = a+b
print (a, b, c)

In [ ]:
radius = float(input("enter radius of circle"))
diameter = radius * 2
circumference = 2 * 3.14 * radius
area = 3.14 * radius ** 2
print (radius)
print (diameter)
print (circumference)

In [ ]:
# simple intrest
p = 10000
r = 5
t = 8
si = p*r*t/100
print(p)

In [ ]:
# simple interst dynamic
p = int (input("enter p:"))
r = int (input("enter r:"))       
t = int (input("enter t:"))
si = p*r*t/100
print (si)

In [ ]:
pi = 3.14
r = int (input("enter r:"))
h = int (input("enter h:"))
v = pi*r**2*h
print (v)

formating the output

In [1]:
print("this is an example")
print("two","three","four")
print("3","5","7",6 + 8)
print("apple","banana","gova", sep="|||")
print("ðŸ˜ŠðŸ˜‚ðŸ¤£")

this is an example
two three four
3 5 7 14
apple|||banana|||gova
ðŸ˜ŠðŸ˜‚ðŸ¤£

In [6]:
print(2,3,4,5,6, sep="")
print(5,6,7,8,9, SEP=",")
PRINT(6,6,7,8, sep='âž¡ï¸')
print(9,8,7,6,5, sep='â†˜ï¸')
print(2,3,4,5,6, sep="/n")
print(3,4,5,6,7, sep="hell dude")

23456

TypeError: print() got an unexpected keyword argument 'SEP'. Did you mean 'sep'?

In [10]:
a = 100
b = 30
c = a + b
print(c)
print("Answer"+str(c))
print("Answer", c)
print("Answer %d"%c)
print("Answer{}".format(c))
print("{} + {} = {}".formate(a,b,c))

130
Answer130
Answer 130
Answer 130
Answer130

AttributeError: 'str' object has no attribute 'formate'

final actual way to formate output using f-strings

In [ ]:
a = 100
b = 30
c = a + b 

print(f"Answer {c}")
print(f"{a} + {b} = {c}")
print("answer is {c}")

Answer 130
100 + 30 = 130
answer is {c}

In [ ]:
name = "yashu"
study = "mca"
collage = "mbu"
print()

In [ ]:
print('you see a apple seller')
q = input('do you like apples ?')

if q == 'yes':
   print('purchase 2kg of apples')
if q == 'no':
   print('you dont purchase apples')

you see a apple seller
purchase 2kg of apples

In [2]:
salary = 42000
if  salary > 50000:
     da = .15
     total =salary +salary * da
     print(f"total salary is {total}")

In [16]:
salary = 42000
if  salary > 50000:
    da = .15
    total = salary + salary * da
else:
    total = salary
print(f"total salary is {total}")

total salary is 42000

In [19]:
salary = 42000
if  salary > 50000:
    da = .15
    total = salary + salary * da
    print(f"total salary is {total}")
else:
    total = salary
    print(f"total salary is {total}")

total salary is 42000

In [27]:
x = int(input())
y = int(input())
if x > y:
    a = x - y
else:
    b = y - x
print(a , b )

10 0

In [29]:
name = input("enter fav move")
if len(name) > 10:
    print(f"long move name {name}")
else:
    print(f"short move name {name}")
print("the end")

long move name bahubali the begining
the end