In [6]:
print("Welcome to Python!")
print("Sum:", 5 + 3)
print("Hello", "World", "!")
name = "Alice"
print("Name:", name)
name, age, city = "Alice", 22, "New York"
print("Name:", name, "Age:", age, "City:", city)

Welcome to Python!
Sum: 8
Hello World !
Name: Alice
Name: Alice Age: 22 City: New York

In [11]:
name = input("Enter your name: ")
print("Hello,", name)
city = input("Enter your city: ")
print("You are from", city)
age = int(input("Enter your age: "))
print("You are", age, "years old.")
rate = float(input("Enter your rate: "))
print("Your rate is", rate)

Hello, yashu
You are from tpt
You are 22 years old.
Your rate is 9.0

In [13]:
print("A", "B", sep="-")  # Output: A-B
print("Hello", end="!")   # Output: Hello!

A-B
Hello!

In [16]:
name = "Alice"
age = 22
print(f"{name} is {age} years old.")

Alice is 22 years old.

In [17]:
print("{} scored {} marks.".format("Bob", 95))
print("{1} is {0} years old.".format(30, "Charlie"))

Bob scored 95 marks.
Charlie is 30 years old.

In [18]:
x = 10
print(type(x))  # <class 'int'>

<class 'int'>

In [20]:
y = 3.5
print(type(y))  # <class 'float'>

<class 'float'>

In [21]:
z = 1 + 2j
print(type(z))  # <class 'complex'>

<class 'complex'>

In [22]:
n = None
print(type(n))  # <class 'NoneType'>

<class 'NoneType'>

In [23]:
s = "Python"
print(type(s))  # <class 'str'>

<class 'str'>

In [24]:
point = (3, 5)
print(type(point))  # <class 'tuple'>

<class 'tuple'>

In [27]:
fruits = {"apple", "banana", "cherry"}
print(type(fruits))  # <class 'fruits')

<class 'set'>

In [28]:
point = (3, 5)
print(type(point))  # <class 'tuple'>

<class 'tuple'>

In [29]:
student = {"name": "Alice", "age": 22}
print(type(student))  # <class 'dict'>

<class 'dict'>

In [30]:
b = b"Hello"
print(type(b))  # <class 'bytes'>

<class 'bytes'>

In [31]:
a = 10
b = 3
print(a + b)  # 13
print(a / b)  # 3.333...
print(a // b) # 3
print(a ** b) # 1000

13
3.3333333333333335
3
1000

In [32]:
print(5 > 2)   # True
print(5 == 2)  # False

True
False

In [33]:
x = 5
print(x > 2 and x < 10)  # True
print(not(x == 5))       # False

True
False

In [34]:
a = 5  # 0101
b = 3  # 0011
print(a & b)  # 1
print(a | b)  # 7
print(a ^ b)  # 6
print(~a)     # -6
print(a << 1) # 10
print(a >> 1) # 2

1
7
6
-6
10
2

In [35]:
x = 10
x += 5  # x = x + 5
print(x)  # 15

15

In [36]:
nums = [1, 2, 3]
print(2 in nums)      # True
print(4 not in nums)  # True

True
True

In [37]:
a = [1, 2]
b = a
c = [1, 2]
print(a is b)      # True
print(a is c)      # False
print(a == c)      # True

True
False
True