In [ ]:
range(100)

range(0, 21)

In [8]:
for i in range(40):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39

In [5]:

for _ in range(5):
        print("this is a statement")

this is a statement
this is a statement
this is a statement
this is a statement
this is a statement

In [22]:
for i in range(15):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14

In [27]:
a = 2
b = 200
for i in range(a , b):
    print(i)

2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199

In [29]:
x = int(input("enter start"))
y = int(input("enter stop"))
for i in range(x , y):
    print(x , y , i)

2 5 2
2 5 3
2 5 4

In [34]:
size = 10
for i in range (1 , size+1):
    print(f"12 X {i} = {12 * i}")

12 X 1 = 12
12 X 2 = 24
12 X 3 = 36
12 X 4 = 48
12 X 5 = 60
12 X 6 = 72
12 X 7 = 84
12 X 8 = 96
12 X 9 = 108
12 X 10 = 120

In [36]:
print("hi")

hi

In [11]:
range(2 , 98, 6)
for i in range(2 , 98 , 6):
   print (i)

2
8
14
20
26
32
38
44
50
56
62
68
74
80
86
92

In [10]:
for i in range(0,15,5):
    print(i)

0
5
10

In [20]:
for i in range(200,2,-2):
    print(i)

200
198
196
194
192
190
188
186
184
182
180
178
176
174
172
170
168
166
164
162
160
158
156
154
152
150
148
146
144
142
140
138
136
134
132
130
128
126
124
122
120
118
116
114
112
110
108
106
104
102
100
98
96
94
92
90
88
86
84
82
80
78
76
74
72
70
68
66
64
62
60
58
56
54
52
50
48
46
44
42
40
38
36
34
32
30
28
26
24
22
20
18
16
14
12
10
8
6
4

In [19]:
for num in range(100,201,2):
    print(num)

100
102
104
106
108
110
112
114
116
118
120
122
124
126
128
130
132
134
136
138
140
142
144
146
148
150
152
154
156
158
160
162
164
166
168
170
172
174
176
178
180
182
184
186
188
190
192
194
196
198
200

In [24]:
colours = ['red','pink','yellow']
print(colours)

['red', 'pink', 'yellow']

In [25]:
#formatted output
for colour in colours:
    print(colour)

red
pink
yellow

In [ ]:
movie = ['arya','I','red','pushpa','dhee','Mr perfect','aarya','lucky','bhhubali the begining']
for movie in movie:
    print(movie)

arya
I
red
pushpa
dhee
Mr perfect
darling
lucky
bhhubali the begining

In [6]:
for i in range(1,101,2):
    print(i, end=" !! ")

1 !! 3 !! 5 !! 7 !! 9 !! 11 !! 13 !! 15 !! 17 !! 19 !! 21 !! 23 !! 25 !! 27 !! 29 !! 31 !! 33 !! 35 !! 37 !! 39 !! 41 !! 43 !! 45 !! 47 !! 49 !! 51 !! 53 !! 55 !! 57 !! 59 !! 61 !! 63 !! 65 !! 67 !! 69 !! 71 !! 73 !! 75 !! 77 !! 79 !! 81 !! 83 !! 85 !! 87 !! 89 !! 91 !! 93 !! 95 !! 97 !! 99 !!

In [1]:
for i in range(-10,10,3):
    print(i,end=" ")

-10 -7 -4 -1 2 5 8

In [7]:
for i in range(1,11):
    if i %2 ==0:
        print(i)

2
4
6
8
10

In [9]:
for i in range(1,11):
    if i %2!=0:
        print(i)

1
3
5
7
9

In [17]:
nums = [1,5,11,3,12,15]
for i in nums:
    if i %2==0:
        s=i**2
        print(s)
    else:
        print("1 3 5 7 9 ")

1 3 5 7 9
1 3 5 7 9
1 3 5 7 9
1 3 5 7 9
144
1 3 5 7 9

cubes of odd nums

In [23]:
radius = [1,3,5,6,11.89,10.76]
for r in radius:
    area = 3.14 * r **2
    print(f"the area for{r} is {area}")

the area for1 is 3.14
the area for3 is 28.26
the area for5 is 78.5
the area for6 is 113.04
the area for11.89 is 443.90839400000004
the area for10.76 is 363.54166399999997

In [3]:
videogames = ['free fire', 'chess', 'circket', 'candy crush', 'angry birds']
for name in videogames:
    if name.startswith('a'):
        print(name)

angry birds

In [36]:
books = ["the final empire",
         "elantris",
         "the alloy of law",
         "hero of ages",
         "the way of kings"
         ]
for book in books:
    if "the" in book or "of" in book:
        print(f"book->{book}")

book->the final empire
book->the alloy of law
book->hero of ages
book->the way of kings

In [12]:

total = 0
for num in range(10,21):
    total = total+num
    print(total)

10
21
33
46
60
75
91
108
126
145
165

In [11]:
total = 1
for num in range(10,21):
    total = total*num
    print(total)

10
110
1320
17160
240240
3603600
57657600
980179200
17643225600
335221286400
6704425728000

In [14]:
nums = [5, 11, 2, 53, 10, 33]
total = sum(nums)
print("the sum of values is: ", total)

the sum of values is:  114

In [15]:
nums = [5, 11, 2, 53, 10, 33]
m = 0
for num in nums:
    if num > m :
        m = num
print(m)

53

In [17]:
nums = [25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50]
count = 0
for i in nums :
    if i%3 == 0 :
        count = count+1
print (f"total count ={count}")

total count =8

In [20]:
nums = [25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50]
count = 0
for i in nums :
    if i%2 == 0 :
        count = count+1
print (f"total count ={count}")

total count =13

In [14]:
movies = ["Harry potter 1", "Harry potter 2", "Harry potter 3", "Harry potter 4"
         "Harry potter 5", "Harry potter 6", "Harry potter 7", "Harry potter 8"
         "Fast and furious 1", "Fast and furious 2", "Fast and furious 3",
         "Fast and furious 4"]
movies_with_h = 0
for movie in movies :
    if movie.startswith("H") or movie.startswith("h"):
        #long way -> count = count + 1
        movies_with_h += 1
print("count", movies_with_h)

count 7

In [15]:
#Factorial 
num = 10
fact = 1
# you can use a backword or forward loop
for i in range(num, 0, -1):
    print(f'{i}* {fact}')
    fact = fact * i
print(fact)

10* 1
9* 10
8* 90
7* 720
6* 5040
5* 30240
4* 151200
3* 604800
2* 1814400
1* 3628800
3628800

In [16]:
import random

movies = ["Baahubali", "RRR", "Pushpa", "Magadheera", "Arjun Reddy", "Mahanati"]

print("Today’s movie suggestion:", random.choice(movies))

Today’s movie suggestion: RRR

In [20]:
# loops total 10*5 => 50 times:
for i in range(1, 11):          
    for j in range(1, 6):
        print(f"i = {i}, j = {j}")

i = 1, j = 1
i = 1, j = 2
i = 1, j = 3
i = 1, j = 4
i = 1, j = 5
i = 2, j = 1
i = 2, j = 2
i = 2, j = 3
i = 2, j = 4
i = 2, j = 5
i = 3, j = 1
i = 3, j = 2
i = 3, j = 3
i = 3, j = 4
i = 3, j = 5
i = 4, j = 1
i = 4, j = 2
i = 4, j = 3
i = 4, j = 4
i = 4, j = 5
i = 5, j = 1
i = 5, j = 2
i = 5, j = 3
i = 5, j = 4
i = 5, j = 5
i = 6, j = 1
i = 6, j = 2
i = 6, j = 3
i = 6, j = 4
i = 6, j = 5
i = 7, j = 1
i = 7, j = 2
i = 7, j = 3
i = 7, j = 4
i = 7, j = 5
i = 8, j = 1
i = 8, j = 2
i = 8, j = 3
i = 8, j = 4
i = 8, j = 5
i = 9, j = 1
i = 9, j = 2
i = 9, j = 3
i = 9, j = 4
i = 9, j = 5
i = 10, j = 1
i = 10, j = 2
i = 10, j = 3
i = 10, j = 4
i = 10, j = 5

In [22]:
n = 6
for i in range(1, n):
    for j in range(1, n):
        print(j, end=' ')
    print()

1 2 3 4 5
1 2 3 4 5
1 2 3 4 5
1 2 3 4 5
1 2 3 4 5

In [ ]:
n = 6
for i in range(1, n):
    for j in range(1, n):
        print(i, end=' ')
    print()

1 1 1 1 1
2 2 2 2 2
3 3 3 3 3
4 4 4 4 4
5 5 5 5 5

In [24]:
n = 6
for i in range(1, n):
    for j in range(1, n):
        print(n, end=' ')
    print()

6 6 6 6 6
6 6 6 6 6
6 6 6 6 6
6 6 6 6 6
6 6 6 6 6

In [25]:
n = 10
for i in range(1, n):
    for j in range(1, n):
        print(j, end=' ')
    print()

1 2 3 4 5 6 7 8 9
1 2 3 4 5 6 7 8 9
1 2 3 4 5 6 7 8 9
1 2 3 4 5 6 7 8 9
1 2 3 4 5 6 7 8 9
1 2 3 4 5 6 7 8 9
1 2 3 4 5 6 7 8 9
1 2 3 4 5 6 7 8 9
1 2 3 4 5 6 7 8 9

In [27]:
n = 10
for i in range(1, n):
    for j in range(1, n):
        print(i, end=' ')
    print()

1 1 1 1 1 1 1 1 1
2 2 2 2 2 2 2 2 2
3 3 3 3 3 3 3 3 3
4 4 4 4 4 4 4 4 4
5 5 5 5 5 5 5 5 5
6 6 6 6 6 6 6 6 6
7 7 7 7 7 7 7 7 7
8 8 8 8 8 8 8 8 8
9 9 9 9 9 9 9 9 9

In [28]:
# skip every value divisible by 3
for i in range(1, 25):
    if i%3==0:
        continue
    print(i, end=" ")

1 2 4 5 7 8 10 11 13 14 16 17 19 20 22 23

In [29]:
data = [1,2,0,3,3,0,1,2,0,5,6,7,2,0,2,1]
for i in data:
    if i == 0:
        continue
    print(i, end=' ')

1 2 3 3 1 2 5 6 7 2 2 1

In [37]:
for i in range(1, 11):
    if i == 8:
        break
    print(i, end=" ")

1 2 3 4 5 6 7

In [38]:
for i in range(1, 11):
    if i == 8:
        break
    print(i, end=" ")

1 2 3 4 5 6 7

In [11]:
for i in range(1, 60):
    if i**12 == 0:
        continue
    print(i, end=" ")

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59

In [18]:
for i in range(1, 10):
    if i == 99:
        break
    print(i)

1
2
3
4
5
6
7
8
9

In [1]:
nums = [2, 5, 8, 11, 15]
for n in nums:
    print(n)
print("loop completed")

2
5
8
11
15
loop completed

In [2]:
nums = [2, 5, 8, 11, 18]
for n in nums:
    if n >10:
        break
    print(n)
    print("loop completed")

2
loop completed
5
loop completed
8
loop completed

In [6]:
value = int(input("enter breakpoint"))
nums = [1, 2, 3, 4, 5, 6, 11, 15, 20, 25]
for n in nums:
    if value >n:
        print("loop broken")
else:
    print("loop completed")

loop broken
loop broken
loop broken
loop broken
loop broken
loop broken
loop broken
loop broken
loop broken
loop broken
loop completed

prime number

In [10]:
num = int(input("enter a number"))
for n in range(2, num):
    if num %n==0:
        print(f"{n}not a prime number")
        break
else:
    print(f"{num} is prime number")

2not a prime number

In [ ]:
x = 50
while x>0:
    print(x, end=" ")
    x-=5

50 45 40 35 30 25 20 15 10 5

In [7]:
fruits=['apple','mango','apple','grpes','papaya','water milon']
series=['money', 'higest','breaking bad','stranger things','werdnesday']
veg=['tomato','onion','grlic','chilli','potato','betroot']
biglist = fruits + series + veg
print(biglist)

['apple', 'mango', 'apple', 'grpes', 'papaya', 'water milon', 'money', 'higest', 'breaking bad', 'stranger things', 'werdnesday', 'tomato', 'onion', 'grlic', 'chilli', 'potato', 'betroot']

In [ ]:
x=[]
x2=[[]]
print(x)

In [11]:
x1.append(1)
x2.append([1,2,3])
x2.append([4,5,6])
print(x2)

NameError: name 'x1' is not defined

In [ ]:
item = [
    ['red','green','blue']
    ['apple','bananna','grapes']
    ['100','150','300']
]
print(items)  
print("size of list",len(items))
print("size of list at index 0 is", len(items[0]),"=>",items[0]")
print("size of list at index 1 is", len(items[0]),"=>",items[1]")
print("size of list at index 2 is", len(items[0]),"=>",items[2]")
print("element 0 as list 2 is",len(items[0])
print("element 1 as list 2 is",len(items[1])
print("element 0 as list 2 is",len(items[0])
print("element 1 as list 2 is",len(items[1])
print("element 0 as list 2 is",len(items[0])
print("element 1 as list 2 is",len(items[1])
print("element 0 as list 2 is",len(items[0])
print("element 1 as list 2 is",len(items[1])
print("element 0 as list 2 is",len(items[0])
print("element 1 as list 2 is",len(items[1])
print("element 0 as list 2 is",len(items[0])

In [15]:
print(matrix[0])
print(matrix[1])
print(matrix[2])

NameError: name 'matrix' is not defined