FORMATING

In [1]:
s = "maintain silince in library"
supper = s.upper()
print(s)
print(supper)

maintain silince in library
MAINTAIN SILINCE IN LIBRARY

In [2]:
slower = s.lower()
scapitalize = s.capitalize()
stitles = s.title()
print(s)
print(slower)
print(scapitalize)
print(stitles)

maintain silince in library
maintain silince in library
Maintain silince in library
Maintain Silince In Library

In [3]:
a = "seven"
a1 = a.ljust(10)
print(a)
print(a1)
a2 = a.ljust(10, '-')
print(a2)

seven
seven
seven-----

In [7]:
a3 = a.rjust(20)
a4 = a.rjust(20, "$")
a5 = a.center(13)
a6 = a.center(13, '*')
print(a3, a4, a5, a6, sep = '\n')

               seven
$$$$$$$$$$$$$$$seven
    seven
****seven****

In [8]:
x = input()
print(x.isalpha())
print(x.isalnum())
print(x.isdigit())
print(x.isspace())

False
False
False
False

In [10]:
a = input()
a1 = a.starstwith('a')
a2 = a.starswith("hello")
a3 = a.starswith('b')
print(a, a1, a2, a3, sep = '\n')

AttributeError: 'str' object has no attribute 'starstwith'

In [1]:
s = "once upon a time"
s2 = s.replace('once', 'twice')
print(s, s2)
s3 = s.replace('e', 'i')
print(s3)

once upon a time twice upon a time
onci upon a timi

In [2]:
data = 'py#t#h#o#n'
cleaned_data = data.replace('#', '')
print(data, cleaned_data, sep = '\n')

py#t#h#o#n
python

In [3]:
m = "alpine mountain range"
print(m.find('mountain'))
print(m.find('lion'))
print(m.find('pine'))
print(m.find('i'))
print(m.find('i', 4))

7
-1
2
3
13

In [5]:
quote = ''' life before death,
            coorage before despar,
            Journey before destination'''
words = quote.split() # str --> list
print(quote)
print(words)
sentences=quote.split(',')

 life before death,
            coorage before despar,
            Journey before destination
['life', 'before', 'death,', 'coorage', 'before', 'despar,', 'Journey', 'before', 'destination']

In [7]:
addr = ['MBU', 'sree srinadh nagar',
        'tirupati', 'ap', '57501']
addr_str = ",".join(addr)
print(addr, addr_str, sep = '\n')
addr2 = "_".join(addr)
addr3 = "\n".join(addr)
addr4 = "what".join(addr)

['MBU', 'sree srinadh nagar', 'tirupati', 'ap', '57501']
MBU,sree srinadh nagar,tirupati,ap,57501

In [3]:
n = input('enter value')
if int(n)%2 == 0:
    print('even')
else:
    print('odd')

odd